.about {
    background-color: #000000;
    font-size: 1.1em;
  }
  
  .profile {
    max-width: 24.6em;
    border-radius:  15px;
    height: auto;
  }
  .profile:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  
  .my-details {
    background-color:#000000;
  }


  h1 {
    color:#ffffff;
  }

  .write{
    color: #ffffff;
    font-size: 1.17em;
  }

  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: azure;
  }

  
 